* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html, body {
    height: 100%;
    font-family: Roboto, sans-serif;
    font-size: 12pt;
    overflow: hidden;
  }

  body {
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
  }

  .panel {
    display: grid;
    grid-gap: 3em;
    justify-items: center;
  }

  .rpm-container {
    display: flex;
    align-items: center;
  }

  h1 {
    font-size: 1.5rem;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    margin-left: 10px;
  }

  #led, .led-red, .led-green {
    position: relative;
    width: 5em;
    height: 5em;
    border: 2px solid #000;
    border-radius: 2.5em;
    box-shadow: 0 0.5em 1em rgba(102, 0, 0, 0.3);
  }

  #led {
    background-image: radial-gradient(farthest-corner at 50% 20%, #b30000 0%, #330000 100%);
  }

  #led.on {
    background-image: radial-gradient(farthest-corner at 50% 75%, red 0%, #990000 100%);
    box-shadow: 0 1em 1.5em rgba(255, 0, 0, 0.5);
  }

  #led:after, .led-red:after, .led-green:after {
    content: '';
    position: absolute;
    top: .3em;
    left: 1em;
    width: 60%;
    height: 40%;
    border-radius: 60%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1));
  }

  .led-red {
    width: 1em;
    height: 1em;
    background-color: red;
    border-radius: 50%;
    margin-right: 10px;
    box-shadow: 0 0.5em 1em rgba(102, 0, 0, 0.3);
  }

  .led-green {
    width: 1em;
    height: 1em;
    background-color: green;
    border-radius: 50%;
    margin-right: 10px;
    box-shadow: 0 0.5em 1em rgba(0, 102, 0, 0.3);
  }

  /* Gauge Styles */
  #gauge-container {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #gauge {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: conic-gradient(
      rgb(170, 170, 170) 0%, rgb(170, 170, 170) 25%,
      white 25%, white 50%,
      rgb(170, 170, 170) 50%, rgb(170, 170, 170) 100%
    )
  }

  #gauge-in {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background: white;
  }

  .rpm, .rpm-value {
    position: absolute;
    bottom: 10%;
    right: 5%;
    font-size: 1.3rem;
    color: #000000;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }

  .rpm-value {
      bottom: 20%;
      font-size: 1.8rem;
  }
